*{
    margin: 0px;
    padding: 0%;
    }


#nav {
    width: 100%;
     background-color: rgb(231, 237, 237);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px ;
  
    display:  flex;
    justify-content: space-between;

 padding-top: 10px;
 padding-bottom: 10px;
 position: fixed;
}
#img1{
 
    margin-left: 40px;
    width: 15px;
    height: 15px;
    margin-right: 40px;
    cursor: pointer;
}

#img2{

    width: 150px;
    height: 18px;
    cursor: pointer;
}
#img3{

    /* margin-left: 40px; */
    width: 20px;
    margin-right: 40px;
    cursor: pointer;
}
#nav1{
    display: flex;
  
}
#nav2{
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
  
}
#nav2>div>p{
font-size: 10px;
cursor: pointer;
}

  

#inp{
 border: none;
    width: 250px;
    height: 16px;
  
outline: none;
    background-color: white;
}
#nav1>div{
    margin-left: 80px;
    padding-top: 5px;
    width: 350px;
    height: 24px;
    border: 1px solid rgb(149, 145, 145);
    background-color: white;
    border-radius: 5px;
 
}
#nav1>div>button {
    float: right;
  
    margin-top: 0px;
 
    margin-left: 0px;
    background:white;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

/* ================question part=================== */



#question{
    width: 100%;
    height: 100%;

    display: flex;
    gap: 8px;
    background-color: rgb(231, 237, 237);

}
#box1{
   

    width: 25%;
    height: 300px;
    margin-top: 60px;
    padding-top: 20px;
    padding-left: 30px;
    border-radius: 3px;
    background-color: rgb(243, 203, 104);

}
#box1>button{
    background-color: rgb(243, 203, 104);
    border: none;
    padding: 5px;
    /* color: azure; */
    border-radius: 4px;
    font-size: 10px;
    cursor: pointer;

}
#box1>button:hover{
    background-color: rgb(234, 170, 11);
    border: none;
    font-size: 10px;
    cursor: pointer;

}
#box1>h1{
    font-size: 15px;
    color: rgb(8, 1, 42);
    padding-bottom: 20px;
    padding-top: 20px;
}

#inp1{
    margin-top: 20px;
}
#inp1>input{
    font-size: 10px;
    width: 160px;
    outline: none;
}


#box2{
   
 
    width: 80%;
    height: 100%;
    margin-top: 60px;

}
#box3{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 250px;
}
#box3>div{
 
    display: flex;
    justify-content: space-between;
    /* margin-top: 20px; */
}

#box4{
    border: 1px solid rgb(88, 87, 87);
    margin-top: 40px;
    width: 680px;
}
#box4{
    border: 1px solid rgb(88, 87, 87);
    margin-top: 20px;
    width: 680px;
}
#box5{
    border: 1px solid rgb(88, 87, 87);
    width: 680px;margin-top: 2px;
}
#box3>p{
    font-size: 12px;
   

}
#box3>p:hover{
    font-size: 12px;
    /* border: 1px solid red; */
    color: blue;
    
}


#btn{
   
    background-color: rgb(48, 179, 239);
    border: none;
    border-radius: 3px;
    font-size: 10px;
    padding: 7px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    
}
#btn:hover{
  
    background-color: rgb(68, 122, 247);
    border: none;
    border-radius: 3px;
    font-size: 10px;
    padding: 7px;
    color: white;
    
}




#btn1{
   
    background-color: rgb(48, 179, 239);
    border: none;
    border-radius: 3px;
    font-size: 10px;
    padding: 7px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    
}
#btn1:hover{
  
    background-color: rgb(68, 122, 247);
    border: none;
    border-radius: 3px;
    font-size: 10px;
    padding: 7px;
    color: white;
    
}


#submit{
    
    background-color:rgb(48, 179, 239);
    border: none;
    border-radius: 3px;
    font-size: 10px;
    padding: 7px;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    
}
#submit:hover{
 
    background-color: rgb(68, 122, 247);
    border: none;
    border-radius: 3px;
    font-size: 10px;
    padding: 7px;
    color: white;
    cursor: pointer;
    
}


/* =============footer=================== */
#footer{
    display: flex;
    background-color: rgb(32, 32, 32);
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
}
#foot>h1{
    font-size: 10px;
    color: rgb(229, 227, 227);
    padding-bottom: 30px;
}
#foot>ul>li{
    color: rgb(229, 227, 227);
    list-style-type: none ;
    font-size: 10px;
    padding-top: 6px;
    
}
#foot1>p{
    color: rgb(229, 227, 227);
    font-size: 10px;
   


}
#foot1{
    display: flex;
    gap: 7px;
}












